/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2016, 9:38:07 PM
    Author     : thuatnv
*/
html, body, #wrapper { 
    height: 100%;
    color: #303030; /* text color */
    font-family: "Roboto";
}
body > #wrapper { 
    height: auto; 
    min-height: 100%; 

}
header{
    background-color: #164777;
    height: 80px;
}
footer {
    clear: both;
    position: relative;
    z-index: 10;
    background: #e9edf5;
    height: 90px;
    color: #212121;
    font-size: 14px;
    padding-top: 15px;    
    font-weight: normal;
    font-style: normal;
}
h3.title-center {
    color: #303030;
    font-family: "Roboto";
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
}
.point {
    color: #2793d1; /* text color */
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}
.text-title-info {
    color: #303030; /* text color */
    font-family: "Roboto";
    font-size: 18px;
}
.nav > li > a {
    color: #fff;
    padding: 5px !important;
}
.nav > li > a.borderright {
    border-right: 1px #e2e2e2 solid;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.img-wraper {
    
}
.choise {
    margin-bottom: 40px;
    display: block;
}
.choise span {
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    position: relative;
    display: block;
}
article#page {
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-acc, .info-acc a {
    color: #fff;
    font-weight: 300;
    line-height: 20px;
    padding: 5px;
}
.info-acc a:first-child {
    margin-right: 5px;
    margin-left: 0px;
}
.info-acc a {
    margin-left: 5px;
}