/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2016, 9:38:07 PM
    Author     : thuatnv
*/
html, body, #wrapper { 
    height: 100%;
    color: #303030; /* text color */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
body > #wrapper { 
    height: auto; 
    min-height: 100%; 

}
header{
    background-color: #164777;
    height: 80px;
    color: #fff;
}
footer {
    clear: both;
    position: relative;
    z-index: 10;
    background: #e9edf5;
    min-height: 90px;
    color: #212121;
    font-size: 14px;
    padding-top: 15px;    
    font-weight: 400;
    font-style: normal;
}
h3.title-center {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
}
.point {
    color: #2793d1; /* text color */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.text-title-info {
    color: #303030; /* text color */
    fofont-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.nav > li > a {
    color: #fff;
    padding: 5px !important;
}
.nav > li > a.borderright {
    border-right: 1px #e2e2e2 solid;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mb-20 {
    margin-bottom: 20px;
}
.img-wraper {
    
}
.choise {
    margin-bottom: 40px;
    display: block;
}
.choise span {
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    position: relative;
    display: block;
}
article#page {
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-acc, .info-acc a {
    color: #fff;
    font-weight: 300;
    line-height: 20px;
    padding: 25px 0px ;
}
.info-acc a:first-child {
    margin-right: 5px;
    margin-left: 0px;
}
.info-acc a {
    margin-left: 5px;
}
footer .logo {
    width: 36px;
    height: 55px;
    float: left;
    margin-right: 10px;
}
.name-tile-navbar-mp {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 8px;
    text-transform: uppercase;
}
.account-info {
    display: inline-block;
    float: right;
}
.tagbar, .tagbar a {
    display: inline-block;
    color: #fff;
}
.menu-mobile {
    padding-top: 10px;
}
#index-mb {
    height: 70px;
    background: url('../images/bgdangky.jpg') center top no-repeat;
}
.title-wcmb {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
#step-form {
    background: url('../images/bgdangkystep.jpg') center top no-repeat;
    min-height: 145px;
}
.invitation {
    background: url('../images/bgdangky.jpg') center top no-repeat;
}
.mp_stepbar {
    list-style: none;
    margin: 30px -8%;
    padding: 0;
    width: 100%;
}
.mp_stepbar li {
    float:left;
    width: 33.333%;
    line-height: 5px;
    height: 5px;
    position: relative;
    background: #acacac;
    text-align: center;
}
.mp_stepbar li:first-child, .mp_stepbar li.active:first-child{
    background: none;
}
.mp_stepbar li.active {
    background: #f8854d;
}
.mp_stepbar li span {
    background: #acacac;
    padding: 5px;
    width: 150px;
    border-radius: 48px;
    line-height: 30px;
    text-align: center;
    margin-top: -18px;
    z-index: 999;
}
.mp_stepbar li.active span {
    background: #f8854d;
}
.mp_stepbar li span, .mp_stepbar li.active span {
    position: absolute;
    color: #fff; /* text color */
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}

.title-form {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 500;
    color: #2f2f2f;
}
.p_back {
    color:#f8854d;
    margin-top: 25px;
}
.panel {
    border: 1px solid #c2c5c9 !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    border-radius: 8px !important;
}
.title-panel-body {
    color: #2f2f2f; /* text color */
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.panel-body {
    color: #2f2f2f;
    min-height: 150px
}
.panel {
    margin-top: 20px;
}
.btn-register {
    background-color: #ffdc00;
    color: #2f2f2f; /* text color */
    font-family: "Roboto";
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 5px 15px;
    width: 250px;
    height: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.h45{
    height: 45px !important;
}
.panel-body input[type=text] {
    height: 45px !important;
    border: 2px #d7d7d7 solid !important;
    border-radius: 6px !important;
    color: #868686;
    font-weight: 100;
    width: 80%;
    margin: 0 auto;
}
.btn-register {
    bottom: 0px;
}
.panel-footer {
    background-color: transparent !important;
    border-top: none !important;
}
.invitation-code {
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
}
.dd-selected label {
    font-weight: 300;
    color: #555555;
    font-size: 14px;
}
.dd-option-text {
    line-height: 60px;
}






/*
* Mobile , desktops device
*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .choise {
        text-align: center;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .choise {
        text-align: center;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .choise {
        text-align: center;
    }
        
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .img-wraper {
        width: 30%;
        display: inline-block
    }
    .img-wraper img {
        width: 70%;
        display: inline-block
    }
    .choise span {
        display: inline-block;
        text-align: left;
        font-weight: 700;
    }
    .choise {
        float:left;
        display: block;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .img-wraper {
        width: 30%;
        display: inline-block
    }
    .img-wraper img {
        width: 70%;
        display: inline-block
    }
    .choise span {
        display: inline-block;
        text-align: left;
        font-weight: 700;
    }
    .choise {
        float:left;
        display: block;
    }
    
}

